{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ dino.name }} the {{ dino.type }}</h1>

    <img src="{{ dino.imageUrl }}" alt="{{ dino.type }}"/>

    <a href="{{ path('dinosaur_list') }}">Back</a>
{% endblock %}
